<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nubanko
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-label position="stacked" color="success">BEM VINDO AO NUBANKO!</ion-label>
    <ion-item>
      <ion-Label position = "floating">Login</ion-Label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-Label position = "floating">Senha</ion-Label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" size="large">ENTRAR</ion-button>
  </div>

</ion-content>
